extends layout

block content
	p.page-type Repository
	h1
		a(href="../") / 
		= repo
	p Available branches:
	ul
		each branch in branches
			li
				a(href="#{branch}")= branch
				ul
					li
						a(href="#{branch}/build/index.html")= "latest"
